# .NET
bin/
obj/
out/
dist/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet
*.nupkg
*.snupkg
**/.nuget/
**/packages/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temp
*.tmp
*.temp
*.bak
*.old
